PresentationGUIMayTinh/Service References/DungQLMTVoiWCF/EntitiesQLMayTinh.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntitiesQLMayTinh" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntitiesQLMayTinh" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfePhongHoc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ePhongHoc" nillable="true" type="tns:ePhongHoc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfePhongHoc" nillable="true" type="tns:ArrayOfePhongHoc" />
  <xs:complexType name="ePhongHoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="MsPhong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TangLau" type="xs:int" />
      <xs:element minOccurs="0" name="TenPhong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToaNha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ePhongHoc" nillable="true" type="tns:ePhongHoc" />
  <xs:complexType name="ArrayOfeMayTinh">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eMayTinh" nillable="true" type="tns:eMayTinh" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeMayTinh" nillable="true" type="tns:ArrayOfeMayTinh" />
  <xs:complexType name="eMayTinh">
    <xs:sequence>
      <xs:element minOccurs="0" name="CPU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HardDisk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaMay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monitor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsPhong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VGA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eMayTinh" nillable="true" type="tns:eMayTinh" />
</xs:schema>