PresentationGUIMayTinh/Service References/DungQLMTVoiWCF/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EntitiesQLMayTinh" />
  <xs:element name="getAllPhongHoc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPhongHocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EntitiesQLMayTinh" minOccurs="0" name="getAllPhongHocResult" nillable="true" type="q1:ArrayOfePhongHoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMayTinhThuocPhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maphonghoc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMayTinhThuocPhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EntitiesQLMayTinh" minOccurs="0" name="getMayTinhThuocPhongResult" nillable="true" type="q2:ArrayOfeMayTinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maMay" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIfExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertMayTinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EntitiesQLMayTinh" minOccurs="0" name="mtmoi" nillable="true" type="q3:eMayTinh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertMayTinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertMayTinhResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>